.a {
    float: right;
    height: 150px;
    margin-left: 20px;
    object-fit: cover;
    width: 150px;
}

.b {
    float: left;
    height: 150px;
    margin-right: 20px;
    object-fit: cover;
    width: 150px;
}

body {
    background-image: url(../../../photoshop/bg.jpg);
    background-repeat: no-repeat;
}