.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: 'Concert One';
}

.navbar-dark .navbar-nav .nav-link.active-link {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: 'Concert One';
}

.navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
  padding-left: 15px;
}