<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-9 footerHeadingCol">
        <h2>MOMOMIA</h2>
      </div>

      <div class="col-3 socialMedia">
        <a href="https://www.facebook.com/" class="socialMediaIcon">
          <span>
            <i class="fab fa-facebook-f"></i></span ></a>
        <a href="https://www.twitter.com/" class="socialMediaIcon">
          <span>
            <i class="fab fa-twitter"></i></span ></a>
        <a href="https://www.instagram.com/" class="socialMediaIcon">
          <span>
            <i class="fab fa-instagram"></i></span ></a>
        <a href="https://www.linkedin.com/in/rishika-garg05/" target="_blank" class="socialMediaIcon">
          <span>
            <i class="fab fa-linkedin"></i></span ></a>
      </div>
    </div>

    <div class="row contactRow">
      <p>
        <a class="footer_clickable" href="./policy.html">Policies</a>
        |
        <a class="footer_clickable" href="./terms_of_service.html">Terms of Service</a >
        |
        <!-- <a class="footer_clickable" href="tel:+919871198882">Contact Us</a> -->
        <a class="footer_clickable" href="./contactus.html">Contact Us</a>
      </p>
    </div>

    <div class="row copyrightRow">
      <p class="copyright">&copy; Copyright MOMOMIA All rights reserved.</p>
    </div>
  </div>
</footer>